# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.gmt
*.xlsx

# But include this specific file
!Murphy_TS.xlsx

wormcat_out/
orouke_cell_type/
orouke_cell_type_group/
orouke/
dist/
wormcat3.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

.DS_Store